body{
    background-color: rgb(106, 156, 156);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  #titre {
    text-align: center;
    margin-left: 0%;
  }
  
  h1 {
    color: aliceblue;
    font-size: xX-large;
    margin-left: auto;
  }
  
  h2 {
    text-align: center;
    color: aliceblue;
    font-size: medium;
    margin-left: 10%;
  }

  
  
  .block2 {
    display: block;
    background-color: #000000;
  }
  
  #portfolio {
  margin-left: 40%  ;
  margin-top: 10%;
  }
  
  .dark-mode{
    background-color: #000000;
  }
  
  
  /*Les liens*/
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  /*Survol des liens*/
  a:hover{
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
    cursor: pointer;
  
  }
  
  /*Liste*/
  ul li{
    list-style-type: none;
  }


  /*Le jeux*/
  
  canvas { 
      background:url("../img/war.jpg");
     
    }


#unique{
    text-align: center;
    transition: margin-left 0.5s;
    padding: 20px;
}
.btn-game{
    border: none;
    background-color: rgb(58, 61, 61);
    color: wheat;
    padding: 10px;
}

.btn-game:hover{
    color: orangered;
    background-color: palegoldenrod;
    cursor: pointer;
}
  
  /*LA NAVBAR*/
  .topnav{
    background-color: rgb(179, 110, 110);
    padding: 30px;    
  }
  .liens{
    color: rgb(112, 233, 185);
    padding: 17px; 
    font-size: 20px;
  }
  
  .icon{
    margin-top: 13px;
    margin-right: 10px;
    display: none;
  }
  
  #toggleIcon{
    font-size: 25px;
  }
  
   
  
  /******************MENU GAUCHE*************/
  
  #toggleIcon1{
    font-size: 30px;
  }
  
  .menuClasseGauche{
    height: 100%;
    position:fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(119, 102, 71);
    overflow-x: hidden;
    transition: 0.5s;
    
  }
  
  .menuClasseGauche a {
    padding: 10px 10px 10px 30px;
    font-size: 25px;
    color: rgb(252, 216, 251);
    display: block;
    transition: 0.5s;
  }
  
  .menuClasseGauche .fermerBtn{
    position: absolute;
    top: 0%;
    right: 13px;
    font-size: 35px;
    margin-left: 50px;
  }