body{
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #titre {
    text-align: center;
    margin-left: 0%;
  }
  
  h1 {
    
    color: rgb(179, 110, 110);
    text-align: center;
    font-size: xX-large;
    margin-left: 10%;
  }
  
  h2 {
    text-align: center;
    color: rgb(179, 110, 110);
    font-size: xx-large;
    margin-left: 10%;
  }
  
  #image1 {
    width: 350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #image2 {
    margin-top: 0%;
    width: 400px;
  }
  
  
  .block2 {
    display: block;
    background-color: #000000;
  }
  
  #portfolio {
  margin-left: 40%  ;
  margin-top: 10%;
  }
  
  
  .dark-mode{
    background-color: #000000;
  }
  
  
  /*Les liens*/
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  /*Survol des liens*/
  a:hover{
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
    cursor: pointer;
  
  }
  
  /*Liste*/
  ul li{
    list-style-type: none;
  }
  
  /*LA NAVBAR*/
  .topnav{
    background-color: rgb(179, 110, 110);
    padding: 30px;    
  }
  
  .liens{
    color: rgb(112, 233, 185);
    padding: 17px; 
    font-size: 20px;
  }
  
  .icon{
    margin-top: 13px;
    margin-right: 10px;
    display: none;
  }
  
  #toggleIcon{
    font-size: 25px;
  }
  
  /******************MENU GAUCHE*************/
  
  #toggleIcon1{
    font-size: 30px;
  }
  
  .menuClasseGauche{
    height: 100%;
    position:fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(179, 110, 110);
    overflow-x: hidden;
    transition: 0.5s; 
  }
  
  .menuClasseGauche a {
    padding: 10px 10px 10px 30px;
    font-size: 25px;
    color: rgb(252, 216, 251);
    display: block;
    transition: 0.5s;
  }
  
  .menuClasseGauche .fermerBtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
  }


/*Page produits*/
#main-container{
    display: flex;
    justify-content: space-between;
}
.conteneur-left{
    width: 70%;
    text-align: center;
    border: solid 8px rgb(179, 110, 110);
    border-radius: 5px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.conteneur-right{
    flex-wrap: wrap;
    width: 25%;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    border: solid 8px rgb(179, 110, 110);
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
}
.produits{
    display: flex;
    justify-content: center;
}

.image-produit{
    width: 100px;
    height: 100px;
}
.titre-produit{
    font-size: 35px;
    color: #1ABC9C;
}
select{
    padding: 10px;
    border: solid #3498db 2px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.produit-card{
    display: block;
    width: 33%;
    box-shadow: 6px 6px 15px 6px rgb(179, 110, 110);
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.produit-card-panier{
    color: #3498db;
    box-shadow: 6px 6px 13px 6px rgb(179, 110, 110);
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.input-quantite{
    border: solid 2px #70898C;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
}
.prix-para{
    display: block;
}

#panier{
    padding: 0;
}

.supprimer-produit{
    font-size: 60px;
    color: #F25041;
}

.btn-inline-quantite{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantite{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.nom{
    font-size: 18px;
    color: #BA4C63;
}

.prix{
    color: darkcyan;
    font-size: 22px;
}





#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
  border: solid 8px rgb(179, 110, 110);
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 70%;
}

#list{
 font-size:  1.5em;
 margin-left: 90px;
}

.animals{
display: list-item;    
} 